* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
 header {
 	height:70px;
 }
 header h1 {
 	display: inline-block;
 	float: left;
 	padding:15px 24px;
 	text-transform: uppercase;
 }
 header h1 a {
 	transition: .3s;
 }
 header h1 a: hover; {
 	color:  #ff0000;
 }
 header ul {
 	float: right;
 }
 header ul li {
 	padding:24px;
 	display: inline-block;
 }
 header ul li a {
 	transition: .3s;
 }
 header ul li a:hover {
 	color:  #ff0000; 
 }
 a {
 	text-decoration: none;
 }
 .container {
 	width: 90%;
 	margin:0 auto;
 }
 .container::after {
 	content: '';
 	display: block;
 	clear: both;
 }
 .mobile-menu {
 	 float: right;
 	 display: none;
 	 padding: 18px;
 }
 .mobile-menu:hover {
 	cursor: pointer;
 }
 #check {
 	display: none;
 }
 .sidebar {
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	left: -300px;
 	width:300px;
 	background-color: rgba( 88, 88, 89, .9);
 	transition: .3s;
 	z-index: 9999;
 }
 .sidebar ul li a {
 	color: #fff;
 }
.sidebar ul li {
	padding: 24px;
	transition: .3s;
	transition-property: background-color;
 }
 .sidebar ul li:hover {
 	background-color:  #ff0000; 
 }
 #check:checked ~ .sidebar {
 	left: 0;
 }
 .banner {
 	background-color:  #979494;
 	padding: 120px 0;
 }
 section {
 	padding: 50px 0;
 }
 .banner img {
 	width: 100px;
 	border-radius: 10px;
 	box-shadow: 0 3px 5px #ddd;
 	margin-bottom: 10px;
 }
 .banner h2
 .banner p {
 	color: #fff;
 }
 .banner h2  {
 	margin-bottom: 10px;
 }
 .banner p {
 	font-size: 18px
 }
 .banner-left {
 	padding-left: 24px
 }
 #skills .bar {
 	height: 20px
 	background-color: #fff;
 	border:1px solid #ddd;
 	margin: 5px 0 20px 0;
 }
 .bar .nilai {
 	height: 20px;
    background-color:  #FF5733;
    display: inline-block;
    color: #fff;
    text-align: center;
 }
.html {
	width:97%;
}
.css {
	width:91%;
}
.js {
	width:79%;
}
.php {
	width: 70%;
}
.col-2 {
	width: 25%;
	box-sizing: border-box;
	padding: 5px;
	float: left;
	text-align: center;
	margin-bottom: 15px
}
.col-2 img {
	width: 100%;
}
.col-2 a:hover img {
	transform: scale(1.2);
}
.col-3 {
	width: 33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
.col-3 h4 {
	height: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
    margin-bottom: 15px
}
footer {
	color: #333;
	padding:50px;
}
html {
	scroll-behavior: smooth;
} 

 @media (max-width: 786px){
 	.mobile-menu {
 		display: block;
 	}

 	header ul {
 		display: none;
 	}
 	.col-4 {
 		width:50%;
 	}
 	.col-3 {
 		width: 100%;
 	}
 }